{% assign sidebar = site.data.info.sidebar %}
<div class="sidebar-wrapper">

    <div class="profile-container">

        {% if sidebar.name %}
        <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" /> {% endif %} {% if sidebar.name %}
        <h1 class="name">{{ sidebar.name }}</h1>
        {% endif %} {% if sidebar.tagline %}
        <h3 class="tagline">{{ sidebar.tagline }}</h3>
        {% endif %}

    </div>
    <!--//profile-container-->

    <ul class="list-unstyled interests-list">
        {% for interest in interests %} {% if interest.link %}
        <li><a href="{{ interest.link }}" target="_blank">{{ interest.item }}</a></li>
        {% else %}
        <li>{{ interest.item }}</li>
        {% endif %} {% endfor %}
    </ul>


    <div class="interests-container container-block">
        <h2 class="container-block-title">
            Quick Links
        </h2>
        {% assign career = site.data.info.career-profile %} {% assign experience = site.data.info.experience %} {% assign publications = site.data.info.publications %} {% assign teaching = site.data.info.teaching %} {% assign skills = site.data.info.skills %}
        <ul class="list-unstyled interests-list">

            {% if experience.slug %}
            <li><a href=#{{ experience.slug }}>{{ experience.title }}</a></li>
            {% endif %} {% if publications.slug %}
            <li><a href=#{{ publications.slug }}>{{ publications.title }}</a></li>
            {% endif %} {% if teaching.slug %}
            <li><a href=#{{ teaching.slug }}>{{ teaching.title }}</a></li>
            {% endif %} {% if skills.slug %}
            <li><a href=#{{ skills.slug }}>{{ skills.title }}</a></li>
            {% endif %}

        </ul>
    </div>
    <!--//toc-container-->

    {% include contact.html %} {% include education.html %} {% include interests.html %}

</div>
<!--//sidebar-wrapper-->