{% assign teaching = site.data.info.teaching %} {% if teaching %}
<section class="section publications-section">
    <h2 class="section-title" id={{ teaching.slug }}>
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
        </span> {{ teaching.title }}
    </h2>

    <!--- TEACHING --->
    {% assign experiences = teaching.experiences %} {% if experiences %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="level-title">{{ experiences.title }}</h3>
            </div>
        </div>
        {% if experiences.introduction %}
        <div class=" intro ">
            {{ experiences.introduction | markdownify }}
        </div>
        {% endif %}
    </div>
    <div class="skillset">
        {% for item in experiences.items %}
        <div class="item">
            <div class="upper-row">
                <h3 class="level-title">{{ item.title }}</h3>
                <div class="time">{{ item.date }}</div>
            </div>
            <div class="company">{{ item.description }}</div>
        </div>
        {% endfor %}
    </div>
    <hr /> {% endif %}
    <!--- //TEACHING --->

    <!--- LEADERSHIP --->
    {% assign roles = teaching.leadership %} {% if roles %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="level-title">{{ roles.title }}</h3>
            </div>
        </div>
        {% if roles.introduction %}
        <div class=" intro ">
            {{ roles.introduction | markdownify }}
        </div>
        {% endif %}
    </div>
    <div class="skillset">
        {% for item in roles.items %}
        <div class="item">
            <div class="upper-row">
                <h3 class="level-title">{{ item.title }}</h3>
                <div class="time">{{ item.date }}</div>
            </div>
            <div class="company">{{ item.description }}</div>
        </div>
        {% endfor %}
    </div>
    <hr /> {% endif %}
    <!--- //LEADERSHIP --->

    <!--- INDUSTRIAL --->
    {% assign industry = teaching.industry %} {% if industry %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="level-title">{{ industry.title }}</h3>
            </div>
        </div>
        {% if industry.introduction %}
        <div class=" intro ">
            {{ industry.introduction | markdownify }}
        </div>
        {% endif %}
    </div>
    <div class="skillset">
        {% for item in industry.items %}
        <div class="item">
            <div class="upper-row">
                <h3 class="level-title">{{ item.title }}</h3>
                <div class="time">{{ item.date }}</div>
            </div>
            <div class="company">{{ item.description }}</div>
        </div>
        {% endfor %}
    </div>
    <hr /> {% endif %}
    <!--- //INDUSTRIAL --->

    <!--- SPEAKING --->
    {% assign speaking = teaching.speaking %} {% if speaking %}
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="level-title">{{ speaking.title }}</h3>
            </div>
        </div>
        {% if speaking.introduction %}
        <div class=" intro ">
            {{ speaking.introduction | markdownify }}
        </div>
        {% endif %}
    </div>
    <div class="skillset">
        {% for item in speaking.items %}
        <div class="item">
            <div class="upper-row">
                <h3 class="level-title">{{ item.title }}</h3>
                <div class="time">{{ item.date }}</div>
            </div>
            <div class="company">{{ item.description }}</div>
        </div>
        {% endfor %}
    </div>
    <hr /> {% endif %}
    <!--- //SPEAKING --->


</section>
<!--//section-->
{% endif %}